{% extends 'posts/base.html' %}


{% block title %}
    All Categories
{% endblock title %}
    

{% block content %}
 
<div class="container">
    <div class="row ">
        <div class="col justify-content-center">
            {% for category in categories %}
             <div class="card text-white border-warning border-3 rounded bg-dark mb-3">
                 <div class="card-header h4 fw-bold text-capitalize text-center">{{category.title}}</div>
                 <div class="card-body border-top border-3 border-warning d-flex flex-column align-items-center justify-content-center">
                     <p class="text-white h5 mb-3">{{category.description}}</p>
                    <a href="{% url 'category' category.slug %}" class="btn btn-outline-light card-title">GO</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
     
{% endblock content %}
    