{% extends 'posts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% load ratings %} {% block title %}{{post.title}} {% endblock %}
{% block meta %}
<link
  rel="stylesheet"
  href="{% static 'star-ratings/css/star-ratings.css' %}"
/>
{% endblock meta %} {% block content %}
<div
  class="container d-flex align-items-center justify-content-center flex-column"
>

  <div class="post-content">
    <div class="card post-card mb-3">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{post.title}}</h5>
          <p class="fw-bold">
            ✍ {{post.author |capfirst}} | 👁 {{visits}} | 🕒 {{post.pub_date}}
            | ❤ {{number_of_likes}} | {% ratings post %}
          </p>
          {% if user.is_authenticated %}
          <form action="{% url 'like' post.slug %}" method="post">
            {% csrf_token %} 
            {% if post_is_liked %}
            <button type="submit" class="btn btn-outline-primary">
              &#128078; disLike
            </button>
            {% else %}
            <button type="submit" class="btn btn-outline-primary">
              &#128077; Like
            </button>
            {% endif %}
          </form>
          {% else %}
          <p class="text-muted">sign up to like this article</p>
          <hr />
          {% endif %}
          <p class="card-text">{{post.body}}</p>
          <ul class="list-group list-group-flush">
            <p class="fw_bold">tags:</p>
                    <li class="list-group-item">{% for post_tag in post.tags.all %}<a class='m-2 btn btn-outline-primary' href='{% url 'posts_tag' post_tag.slug %}'>{{post_tag.name}} </a>{% endfor %}</li>
                    {% comment %} {{ post.tags.all|join:', ' }} {% endcomment %}
          </ul>
        </div>
      </div>
      
</div>
  <hr />
  <div class="mt-3 comment mb-3 border w-100 p-3 text-center">
    <div>
      {% if user.is_authenticated %} {% if new_comment %}
        <h2 class="text-success">Your comment has been added.</h2>
      {% endif %}
      <h2>Add a new comment</h2>
      <form class="d-flex align-items-center flex-column" action="" method="POST">
        {% csrf_token %} 
        {{ comment_form|crispy }}
        <p>
          <input
            class="btn btn-dark mt-3"
            type="submit"
            value="Add comment"
          />
        </p>
      </form>
      {% else %}
      <h2>Sign in to put comment.</h2>
      {% endif %}
    </div>
    <div class="rounded d-flex w-100 flex-column justify-content-center">
        {% for comment in comments %}
        {% if comment.is_parent %}
        <!-- <blockquote class="comment my-3 p-3 text-white text-center">
        <p class="text-start">Comment by {{ comment.name }}:</p>
        <q class="fw-bold">
            {{ comment.body|linebreaks }}
        </q>
        <hr> -->
        <div class="card w-100 text-start text-dark bg-warning mb-3">
          <div class="card-header">{{comment.created}}</div>
          <div class="card-body">
            <h5 class="card-title">{{comment.name}}:</h5>
            <p class="card-text">{{ comment.body|linebreaks }}</p>
            {% for replay in comment.replies.all %}
                <div class='replay text-start text-white bg-dark w-100'>
                    <h6 class=''>{{replay.name}} replied to {{replay.parent.name}}:</h6>
                    <p class="fw-bold">{{replay.body}}</p>
                </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
    </div>

  </div>
</div>
{% endblock content %} {% block scripts %}
<script
  type="text/javascript"
  src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"
></script>
{% endblock scripts %}
